<app-nav-bar></app-nav-bar>

<div class="content">
<div class="article">
  <div id="article">
    <div class="img">
      <img src="../../assets/image/1.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum<a [routerLink]="['/article-detaile']">Voire plus</a>
          
    </div>
  </div>
  <div id="article">
    <div class="img">
      <img src="../../assets/image/2.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum<a [routerLink]="['/article-detaile']">Voire plus</a>
          
    </div>
  </div>
  <div id="article">
    <div class="img">
      <img src="../../assets/image/3.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum <a [routerLink]="['/article-detaile']">Voire plus</a>
          
    </div>
  </div>
  <div id="article">
    <div class="img">
      <img src="../../assets/image/4.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum <a [routerLink]="['/article-detaile']">Voire plus</a>
          
    </div>
  </div>
  <div id="article">
    <div class="img">
      <img src="../../assets/image/5.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum<a [routerLink]="['/article-detaile']">Voire plus</a>
          
    </div>
  </div>
  <div id="article">
    <div class="img">
      <img src="../../assets/image/6.jpg" alt="" />
    </div>
    <div class="paragraphe">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
         Quisquam sunt minus, aspernatur ipsa vitae rerum error 
         sit nisi voluptatum nemo eos distinctio tenetur laudantium
          facilis accusantium asperiores tempore assumenda cum<a [routerLink]="['/article-detaile']" >Voire plus</a>
          
    </div>
  </div>
</div>
<app-filter class="filter"></app-filter>
</div>

<app-footer></app-footer>