<div class="filter">
    <div class="search">
        <form action="">
            <div class="input">
                <input type="search" placeholder="search">
                <button><img src="../../assets/icon/search.png" alt=""></button>
            </div>
        </form>
    </div>

    <div class="categories">
        <h2>categories</h2>
        <ul>
            <li><a href="#">Offrets </a></li>
            <li><a href="#">Progamations</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Python</a></li>
        </ul>
    </div>
</div>