:root{
    --nav-bar-color: black;
    --text-color: white;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgb(40, 205, 141);
    padding: 4px;
}

.nav{
    flex:  1;
    text-align: center;
    h1{
        font-size: 2em;
        color: white;
    }
}

.fixed{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
.navbar{
    display: flex;
    

    ul{
        padding: 0;
        margin-top: 50px;

        li{
            list-style-type: none;
            
            font-size: 19px;
            margin-left: 20px;
            

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    .menu-icon {
       transition: 0.4s ease-in-out;
        padding: 10px;
        

        img{
            width: 25px;
            
        }
        
    }
   
}

.icon{
    position: fixed;
    transition: 0.4s ease-in-out;
    right: 10px;
    z-index: 3;
}
.desktop_menu ul li a:hover{
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    color: yellow;
    transition: 0.4s ease-in-out;

}
.menu-icon:hover{
    cursor: pointer;
}


    .desktop_menu{
        position: fixed;
        transition: 0.4s ease-in-out;
        right: -280px;
        background: rgb(40, 205, 141);
        width: 280px;
        height: 100vh;
        z-index: 2;
        border-radius: 10px 0 0 0;
        
    }
    .desktop_menu ul li{
        display: block;
        text-align: left;
        margin: 0;
        padding: 10px 0 10px 26px;
        border-bottom: 1px solid grey;
    }
    .menu-icon{
        display:block;
    }
    .mobile_menu{
        right: 0;
        transition: 0.4s ease-in-out;
    }
