<div class="navbar-content">
    <div class="nav">
        <h1>Communauter Developeur </h1>
    </div>
    <div class="navbar">
        <div class="menu-icon">
            <img src="../../assets/icon/menu-burger.png" alt="">
        </div>
        <ul>
            <li><a href="#">Home</a></li> 
            <li><a href="#">Produit</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</div>